apiVersion: apps/v1
kind: Deployment
metadata:
  name: webz-ha
  labels:
    app: webz-ha
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: webz-ha
  template:
    metadata:
      labels:
        app: webz-ha
    spec:
      {{- if .Values.priorityClass.enabled }}
      priorityClassName: {{ .Values.priorityClass.name }}
      {{- end }}

      {{- if .Values.activeNodeLabel.enabled }}
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              preference:
                matchExpressions:
                  - key: {{ .Values.activeNodeLabel.key | quote }}
                    operator: In
                    values:
                      - {{ .Values.activeNodeLabel.value | quote }}
      {{- end }}

      containers:
        - name: webz-ha
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          ports:
            - containerPort: 80

          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 3
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10

          resources:
{{- toYaml .Values.resources | nindent 12 }}
